
        /* login css */


        body {
            margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1609252509027-3928a66302fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image file */
    background-size: cover; /* Scale the image to cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    font-family: Arial, sans-serif;
    color: white; /* Ensure text is visible over the background */
          }
          
          h1 { 
            padding-bottom: 5%;
            font-size: 40px;
            font-family: 'Fresca', sans-serif;
          }
          
          header {
            padding: 0;
            margin: 0 15%;
            color: #904c77;
          }
          .CheckBox {
            padding: 10% ;
            margin: 5%;
            background-color: #904c77;
            text-align: center;
            border-radius: 20px;
          }
          
          input, 
          button {
            margin: 2%;
          }
          
          #rules {
            padding-top: 2%;
            display: none;
          }
          
          #rules ul li {
            text-align: left;
          }
          
          #error {
            color: red;
            display : none;
          }